{% extends "base.html" %}
{% block content %}

    
<style>
    .button-regular {
        opacity: 1;
    }
    .button-transparent {
        opacity: 0.5;
    }
</style>

    

<div style="display: flex;">
<section class="Action" style="flex: 1; margin-right: 100px;">
    <div style="display: flex; align-items: center; justify-content: space-between;">
    </div>

    <br>

    <button id="button2" class ="button-regular" onclick="initializeAdapter()" style="border-radius: 5px;">Initialize Adapter</button>

    <br> 
    

    <br>
    <br>

    <div>
        <button id="button3" class ="button-transparent" onclick="scanWifi()" style = "border-radius: 5px;">Scan for Wi-Fi Networks</button>
        <select id="network-select" class ="button-transparent">
            <option>Select Network</option>
            <option>sample network option</option>
        </select>
    </div>

    <br>

    <section class="attack">
        <button id="button4" class ="button-transparent" onclick="startPasswordCrack()" style = "border-radius: 5px;">Start Password Crack</button>
        <div>Time of completion: <span id="completion-time">00:00</span></div>
        <div>Password found: <span id="password-found">N/A</span></div>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <button id="cls" class ="button-regular" onclick="cls()" style = "border-radius: 5px;">Clear Screen</button>


</section>

<section class="log" style="flex: 1;">
    <h2>Terminal</h2>
    <textarea id="log" readonly style = "width: 220%; height: 100%;">Welcome to the Byte Buggy Web Interface.</textarea>

</section>



</div>

<script>

    <!--Transparent functionality-->

    window.onload = function() {
    var buttons = document.querySelectorAll('.button-transparent');
    buttons.forEach(function(button) {
        button.disabled = true; // Disable the button
       }); 
    };


   

    document.getElementById("button2").onclick = function() {
        document.getElementById("button3").classList.remove("button-transparent");
        document.getElementById("button3").classList.add("button-regular");
        
        document.getElementById("network-select").classList.remove("button-transparent");
        document.getElementById("network-select").classList.add("button-regular");
        document.getElementById("log").value += "\n\nAdapter initialization started.";
        button3.disabled = false;
    };

    document.getElementById("button3").onclick = function() {
        document.getElementById("log").value += "\n\nScanned for networks.";
        document.getElementById("network-select").disabled = false;
        
    };

    document.getElementById("network-select").onchange = function() {
        document.getElementById("button4").classList.remove("button-transparent");
        document.getElementById("button4").classList.add("button-regular");
        let selectedNetwork = document.getElementById("network-select").value;
        document.getElementById("log").value += "\n\nNetwork selected: " + selectedNetwork;
        button4.disabled = false;
    };

    document.getElementById("button4").onclick = function() {
        document.getElementById("log").value += "\n\nPassword cracking initiated.";
    };

    document.getElementById("cls").onclick = function() {
        document.getElementById("log").value = ""; 
    };

   
</script>

{% endblock %}